<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [value]="[counter]" readonly></ion-input>
  <ion-button
    color="danger"
    fill="solid"
    size="large"
    (click)="resetCount()"
    class="your-class1"
    >reset</ion-button
  >
  <ion-button
    class="your-class"
    color="success"
    expand="block"
    fill="solid"
    size="large"
    (click)="addCount()"
    vertical="end"
    >Add</ion-button
  >
</ion-content>
