#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.your-class {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.your-class1 {
  position: fixed;
  bottom: 10%;
  right: 0;
}
ion-input {
  background-color: lighten($color: #c4bfbf, $amount: 0);
  font-size: 15vh;
}
